*{
  box-sizing: border-box;
}

/*
  Normal Flow Layout 
*/

header{
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
}

header h1{
  margin-top: 0;
  font-size: .95em;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding:5%;
}

header img{
 width: 40%;
}
body{
    background-color: gray;
  }

#containerIndex{
    background-color:white;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
nav {
    display: block;
    font: 1.25em sans-serif;   
}

nav ul{
  background-color: lightgray;
  list-style: none;
}

nav ul li{
  text-align: center;
  padding-right: 15%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

nav ul li a:hover{
  background-color: hsl(0, 0%, 53%);
}
nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 5px #000000;
}

#containerIndex main{
  text-align: center;
}

#containerIndex main img{
  width: 85%;
  margin: 5%;
}

.companyname{
  font-size: 1.75rem;
  font-weight: bold;
  margin: auto;

}

#containerIndex main p{
      width: 85%;
      margin-top: 5%;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.25em;
}

#containerIndex #about{
 text-align: center;
}

#containerIndex #about p{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.15em;
}

#contactinfo{
  background-color: #000000;
  color: white;
  width: 100%; 
  height: auto;
  display: block;
  padding: 10px;
}

#contactinfo a{
  color:hsl(241, 92%, 56%);
}

footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 1.1em;
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: italic;
}

/*
    SERVICES.HTML STARTS HERE!!!!!!!
*/

#containerService{
  background-color: white;
  width: 95%;
  margin-left:auto;
  margin-right: auto;
}

#containerService h2{
  font-size: 2.5em;
  text-align: center;
}

#containerService p{
  width: 70%;
  font-size: 1.15em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  border: 1px dashed black;
}

 #containerServiceRequestBtn {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2rem;
 }

#containerServiceRequestBtn button{
  margin: 2.5%;
  border-radius: 5%;
  box-shadow: 3px 2px 5px black;
  font-size: 1.15em;
  cursor: pointer;
}


#user{
 display: none;
  background-color: #a1b8d1;
  font-size: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px;
  padding-top: 100px;
  border: 3px solid black;
}

#containerService form button{
  margin: 2.5%;
  border-radius: 10%;
  box-shadow: 3px 2px 5px black;
  font-size: .95em;
  cursor: pointer;
}

#containerService button:hover{
  background-color: lightblue;
  transition:  0.5s ease-in-out;
}

#containerService button:active{
  background-color: hsl(195, 53%, 99%);
  transition: all 0.5;
}
table, th, td {
border-style:groove;
background-color: #eaeaea;
width: 80%;}

caption {background-color: rgb(173, 169, 169);
  border-style: solid;
  font-weight: bold;
}

tbody {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#serviceguards {
  width: 100%;
  overflow:hidden;
  font-size: 1.3rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#explanation {
  margin: 2.5%;
  width: 90%;
}


@media (min-width: 600px){
  body{ background-image: linear-gradient( to bottom, #000000, #eaeaea);
  }
  header
 {
     background-image: linear-gradient( to right, rgb(70, 70, 70), #eaeaea);
     height:auto;
     text-align: center;
     border: 1px, solid ,#000000;
     box-shadow: 2px 2px 2px #000000;
     justify-content: space-between;
 }
 
 header h1{
    font-size: 1.5rem;
 }
 header img{
   width: 25%;
   
 }
 nav {
     text-decoration: none;
 }
 nav ul{
  display: flex;
  text-align: center;
 }
 
 nav ul li{
  width: 100%;
  font-size: 1.75em;
  padding: 35px;
 }
 nav ul li a {
   text-decoration: none;
   color: rgb(255, 255, 255);
   text-shadow: 3px 3px 5px #000000;
 }
 #groupHero {
   box-shadow: 5px 2px 5px #000000;
   max-width: 40%;
 
   float: right;
 }
 
 
 .companyname{
   color: darkblue;
   font-size: 3.5em;
   font-weight: bold;
   text-shadow: 3px 3px 5px #000000;
   text-align: center;
 }

 #containerIndex p{
    font-size: 22.5px;
    text-align: left;
 }
 
 #containerIndex #about h2{
   margin-top: 15%;
   font-size: 3rem;
   text-align: center;
 
 }

 #containerIndex #about p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 
 #contactinfo{
   background-color: rgb(47, 47, 129);
   color: #eaeaea;
   width: 100%;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 20px;
 }
 
 #contactinfo a{
   color: #ffffff;
 }
 


 #top {
   text-decoration: none;
   color: #000000;
 }

 table, th, td {
  border-style:groove;
  background-color: #eaeaea;
  width: 30%;}
 
 

 /*
    SERVICES.HTML
 */

 #containerService p{
  font-size: 1.5rem;
 }

 #serviceguards {
  width: 60%;
  overflow:hidden;
  font-size: 1.3rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
#explanation {
  width: 60%;
  margin: 2.5% 0;
}
}

@media (min-width: 1024px){ 
  body {
    background-image: linear-gradient( to bottom, #000000, #eaeaea);
    background-repeat: no-repeat;
}
header h1{
  font-size: 3rem;
}

header img{
  width: 30%;
 height: auto;
}
h1
{
  margin-top: 0;  
  font-size: 3em;
}


.companyname{
  font-size: 4.5em;
 
}

#containerIndex #about h2{
  font-size: 4em;
  text-align: center;
}

/*
    SERVICES.HTML
 */

#containerService p{
  font-size: 2rem;
}
 #serviceguards {
  width: 50%;
  font-size: 1.3rem;
}

#explanation {
  width: 50%;
}
}

@media (min-width: 1440px){

header h1{
  font-size: 4rem;
}

header img{
  width: 25%;

}
h1
{
  margin-top: 0;  
  font-size: 3em;
}

.companyname{
  font-size: 4.5em;
}

/*
    Service.html starts here
*/

#containerService p{
  font-size: 2.5rem;
} 

 #serviceguards {
  width: 40%;
  font-size: 1.3rem;
}

#explanation {
  width: 20%;
}
}
@media (min-width: 2560px){
  header h1{
    font-size: 4rem;
  }

  nav ul li{
    font-size: 4.5em;
    padding: 35px;
  }
 
}
